@import "tailwindcss";
@import "tw-animate-css";


body {
  background: radial-gradient(circle at 20% 30%, rgba(99, 102, 241, 0.15), transparent 70%),
              radial-gradient(circle at 80% 70%, rgba(236, 72, 153, 0.15), transparent 70%),
              linear-gradient(135deg, #f9fafb 0%, #f3f4f6 100%);
  font-family: "Inter", sans-serif;
}